body {
    background: gray;
    padding: 0;
    margin: 0;
}

#mainCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: solid dimgray 3px;
  padding: 0;
  margin: 0;
}

#uiCanvas {
  position: absolute;
  top: 50%;
  left: 10%;
  /*transform: translate(-50%, -50%);*/
  background: none;
  /*border: solid dimgray 3px;*/
  padding: 0;
  margin: 0;
}

#uiCanvas2 {
  position: absolute;
  top: 50%;
  right: 10%;
  /*transform: translate(-50%, -50%);*/
  background: none;
  /*border: solid dimgray 3px;*/
  padding: 0;
  margin: 0;
}

#dashBtn {
  
  position: absolute;
  height: 40px;
  width: 40px;
  right: 10%;
  top: 30%;
  
}

#attackModeSwitchBtn {
  
  position: absolute;
  height: 40px;
  width: 40px;
  right: 10%;
  bottom: 10%;
  
}

#debug {
  
  position: absolute;
  left: 5%;
  top: 5px;
  
}

/*temp*/
#mainMenu, #gameModeScreen {
  
  position: absolute;
  background: gray;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  
}

#gameModeScreen {
  
  display: none;
  
}

#playBtn, #fullscreenBtn, #survivalModeBtn, #fatalModeBtn {
  
  width: 140px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  
}

#playBtn {
  
  display: none;
  
}

#gameOverScreen {
  
  position: absolute;
  background: rgba(255, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  
}

#gameOverPrompt {
  
  font-size: 30px;
  font-weight: bold;
  
}

#scorePrompt {
  
  text-align: center;
  
}